<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <title>ph-selection-matrix</title>

  <script src="../../webcomponentsjs/webcomponents.js"></script>
  <script src="../../web-component-tester/browser.js"></script>

  <!-- Step 1: import the element to test -->
  <link rel="import" href="../ph-selection-matrix.html">

</head>
<body>

  <ph-selection-matrix id="fixture"></ph-selection-matrix>

  <script>
    
  </script>

</body>
</html>
